/* Importar a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

/* Definir a fonte principal para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilo para os links na barra de navegação */
.navbar .nav-link {
    color: #131212;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/* Estilo para o cabeçalho */
header {
    position: relative;
    text-align: center;
    color: #fff;
}

/* Estilo para a imagem no cabeçalho */
header img {
    max-width: 100%;
    height: auto;
}

/* Estilo personalizado para a barra de navegação */
.navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

/* Estilo personalizado para ajustar a posição do conteúdo do cabeçalho */
.header-content {
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

/* Animação de pulso para o texto no cabeçalho */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Estilo para o texto no cabeçalho */
header h1 {
    animation: pulse 2s infinite;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    margin: 0;
}

/* Estilo para o parágrafo no cabeçalho */
header p {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    margin: 0;
}

/* Estilo para as seções */
section {
    padding: 50px 0;
}

/* Estilo para os títulos das seções */
section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #001B79;
}

/* Estilo para as listas nas seções */
section ul {
    list-style-type: none;
    padding-left: 0;
}

/* Estilo para os itens de lista nas seções */
section ul li {
    margin-bottom: 10px;
    list-style-type: circle;
}

/* Estilo para o contêiner de serviços */
.container-servicos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para o wrapper de conteúdo */
.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Estilo para imagens fluidas */
.img-fluid {
    max-width: 90%;
    height: auto;
    display: block;
}

/* Estilo para o parágrafo */
.paragrafo {
    color: #335980;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
}

/* Estilo para o elemento sr-only */
.sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    overflow: visible;
    clip: auto;
}

/* Estilo para o carrossel de serviços */
.servicos-carousel {
    background-color: #f8f9fa;
    padding: 50px 0;
}

/* Estilo para as imagens do carrossel */
.carousel-item img {
    margin: auto;
}

/* Estilo para a seção de contato */
.contato {
    background-color: #b8e0f0de;
    padding: 50px 0;
    text-align: center;
}

/* Estilo para o formulário de contato */
#contatoForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para os campos de entrada do formulário de contato */
#contatoForm input[type="text"],
#contatoForm input[type="email"],
#contatoForm input[type="tel"],
#contatoForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilo para os campos de entrada do formulário de contato ao passar o mouse */
#contatoForm input[type="text"]:hover,
#contatoForm input[type="email"]:hover,
#contatoForm input[type="tel"]:hover,
#contatoForm textarea:hover {
    border-color: #479efa;
    box-shadow: 0 0 5px rgba(20, 130, 248, 0.5);
    background-color: #abd2fc;
}

/* Estilo para o botão de envio do formulário de contato */
#contatoForm button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilo para o botão de envio do formulário de contato ao passar o mouse */
#contatoForm button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para os campos de entrada e textarea no formulário de contato */
.contato input,
.contato textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

/* Estilo para o botão no formulário de contato */
.contato button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contato button:hover {
    background-color: #0056b3;
}

/* Footer */

footer div {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

/* Estilos para telas maiores que 1440px */
@media (min-width: 1441px) {

    /* Adicione seus estilos para telas maiores que 1440px aqui */
    .navbar .nav-link {
        font-size: 30px;
    }

    header h1 {
        font-size: 3rem;
        top: 30%;
        left: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    header img {
        width: 80%;
    }

    .container-servicos {
        margin-left: calc((100% - 1200px) / 2);
        /* Calcula a margem esquerda para centralizar o contêiner */
    }

    /* Adicionando uma largura máxima e centralizando o formulário de contato */
    #contato .contato {
        max-width: 600px;
        /* Defina a largura máxima desejada */
        margin: 0 auto;
        /* Centraliza o contêiner */
        padding: 0 20px;
        /* Adiciona um espaçamento interno para evitar que o formulário fique muito próximo das bordas */
    }

    /* Defina a largura máxima dos campos de entrada */
    #contatoForm input[type="text"],
    #contatoForm input[type="email"],
    #contatoForm input[type="tel"],
    #contatoForm textarea {
        max-width: 100%;
        /* Define a largura máxima para preencher o contêiner */
    }

    /* Ajuste os estilos do botão de envio se necessário */
    #contatoForm button[type="submit"] {
        width: 100%;
        /* Ocupa a largura completa do contêiner */
    }

}

/* Estilos para telas de até 1440px */
@media (max-width: 1440px) {
    .navbar .nav-link {
        font-size: 25px;
    }

    header h1 {
        font-size: 2.5rem;
        top: 30%;
        left: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* Alinha o texto ao centro */
        width: 90%;
        /* Para garantir que o texto não toque as bordas da tela */
    }

    header img {
        width: 80%;
    }

    header p {
        font-size: 16px;
    }

    section h2 {
        font-size: 26px;
    }

    /* Adicionando uma largura máxima e centralizando o formulário de contato */
    #contato .contato {
        max-width: 600px; /* Defina a largura máxima desejada */
        margin: 0 auto; /* Centraliza o contêiner */
        padding: 0 20px; /* Adiciona um espaçamento interno para evitar que o formulário fique muito próximo das bordas */
    }

    /* Defina a largura máxima dos campos de entrada */
    #contatoForm input[type="text"],
    #contatoForm input[type="email"],
    #contatoForm input[type="tel"],
    #contatoForm textarea {
        max-width: 100%; /* Define a largura máxima para preencher o contêiner */
    }

    /* Ajuste os estilos do botão de envio se necessário */
    #contatoForm button[type="submit"] {
        width: 100%; /* Ocupa a largura completa do contêiner */
    }

}

/* Estilos para telas de até 1024px */
@media (max-width: 1024px) {
    .navbar .nav-link {
        font-size: 22px;
    }

    header h1 {
        font-size: 2.2rem;
    }

    header p {
        font-size: 15px;
    }

    section h2 {
        font-size: 24px;
    }


}

/* Estilos para telas de até 834px */
@media (max-width: 834px) {
    .navbar .nav-link {
        font-size: 20px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 14px;
    }

    section h2 {
        font-size: 22px;
    }

}

/* Estilos para telas de até 768px */
@media (max-width: 768px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    header h1 {
        font-size: 1rem;
        top: 30%;
        left: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* Alinha o texto ao centro */
        width: 90%;
        /* Para garantir que o texto não toque as bordas da tela */
    }

    header p {
        position: static;
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .img-fluid {
        max-width: 50%;
    }

    .navbar .nav-link {
        font-size: 18px;
    }


}

/* Estilos para telas de até 480px */
@media (max-width: 480px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }

    header h1 {
        font-size: 0.8rem;
        top: 30%;
        left: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* Alinha o texto ao centro */
        width: 90%;
        /* Para garantir que o texto não toque as bordas da tela */

    }

    header p {
        font-size: 0.8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header img {
        width: 80%;
    }

    .img-fluid {
        max-width: 50%;
    }

    .navbar .nav-link {
        font-size: 16px;
    }

    .collapse .navbar-collapse li {
        font-size: 14px;
    }
}

/* Estilos para telas de até 360px */
@media (max-width: 360px) {
    body {
        margin-left: 2px;
        margin-right: 2px;
    }

    header h1 {
        font-size: 0.6rem;
        top: 30%;
        left: 2%;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-align: center;
        /* Alinha o texto ao centro */
        width: 90%;
        /* Para garantir que o texto não toque as bordas da tela */
    }

    header p {
        font-size: 10px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header img {
        max-width: 100%;
    }


}